/* button effects */
a {

    color: white;
}

a:hover {

    color: gold;
}

/* material component style */
mat-select {

    text-align: center;
}

mat-option {

    color: gold !important;
}

.select-options .mat-select-content {

    background: rgba(18, 52, 80, 0.747);
}

/* top panel style */
.top-panel {

    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: rgb(233, 197, 35);
    background-color: rgb(88, 93, 109);
}

h1 {

    font-size: 3em;
    line-height: 0.95em;
}

/* table style */
table {

    width: 100%;
}

.table-small {

    display: none;
    text-align: center !important;
}

.table-small .mat-header-cell {

    text-align: center !important;
}

.mat-row:hover {

    background-color: rgba(255, 99, 71, 0.808);
}

/* grids */
.select {

    background-color: inherit;
    grid-area: select;
}

.paginator {

    background-color: inherit;
    grid-area: paginator;
}

.table-options {

    display: grid;
    background-color: rgb(60, 60, 60);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        '. select .';
}

/* media queries */
.year { display: none; }

@media screen and (max-width: 320px) {

    h1 { font-size: 1.2em; }
    .table-large { display: none; }
    .table-small { display: block; }
}

@media screen and (min-width: 321px) and (max-width: 540px) {

    h1 { font-size: 2em; }
}

@media screen and (max-width: 540px) {

    .paginator { display: none !important; }
}

@media screen and (min-width: 541px) {

    .year {

        display: inline;
        font-size: 0.8em;
        font-style: italic;
    }
}

@media screen and (min-width: 541px) and (max-width: 800px) {

    .table-options {

        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            '. . select . .'
            '. paginator paginator paginator .';
    }
}

@media screen and (min-width: 801px) {

    .table-options {

        grid-template-columns: 1fr 2fr 10fr;
        grid-template-areas:
            '. select paginator';
    }
}

@media screen and (min-width: 1025px) {

    .table {

        width: 70%;
        margin: 0 auto;
    }
}
