<select (change)="onYearSelected($event.target.value)">
    <option *ngFor="let year of validYears" [selected]="year === selectedYear"
        value="{{ year }}">{{ year }}</option>
</select>
<h1>World Rankings {{ selectedYear }}</h1>
<ng-container *ngIf="rankings.length > 0">
    <app-group-size-selector
        [currentGroup]="groupIndex + 1"
        [totalGroups]="totalGroups"
        [size]="rankings.length"
        (groupChange)="onGroupChanged($event)"
        (sizeSelect)="onSizeSelected($event)">
    </app-group-size-selector>
    <table border="1">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Nationality</th>
            <th>Winnings</th>
        </tr>
        <tr *ngFor="let ranking of currentGroup">
            <td>{{ ranking.rank }}</td>
            <td>
                <a [routerLink]="['../players', ranking.player.id]">{{ ranking.name }}</a>
            </td>
            <td>{{ ranking.nationality }}</td>
            <td>{{ ranking.earnings }}</td>
        </tr>
    </table>
</ng-container>
