/* button effects */
a {

    color: white;
}

a:hover {

    color: gold;
}

/* material component style */
mat-select {

    text-align: center;
}

mat-option {

    color: gold !important;
}

/* top panel style */
.top-panel {

    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: rgb(233, 197, 35);
    background-color: rgb(88, 93, 109);
}

h1 {

    font-size: 3em;
    line-height: 0.95em;
}

/* table style */
table {

    width: 100%;
}

.table-small {

    display: none;
    text-align: center !important;
}

.table-small .mat-header-cell {

    text-align: center !important;
}

.mat-row:hover {

    background-color: rgba(255, 99, 71, 0.808);
}

.table-label {

    color: gold;
    background-color: rgb(192, 0, 0);
}

/* grids */
.select {

    background-color: inherit;
    grid-area: select;
}

.paginator {

    background-color: inherit;
    grid-area: paginator;
}

.table-options {

    display: grid;
    background-color: rgb(60, 60, 60);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        '. select .';
}

/* media queries */
.year { display: none; }

@media screen and (max-width: 320px) {

    h1 { font-size: 1.2em; }
    .table-large { display: none; }
    .table-small { display: block; }
}

@media screen and (min-width: 321px) and (max-width: 540px) {

    h1 { font-size: 2em; }
}

@media screen and (max-width: 700px) {

    .paginator { display: none !important; }
}

@media screen and (min-width: 541px) {

    .year {

        display: inline;
        font-size: 0.8em;
        font-style: italic;
    }
}

@media screen and (min-width: 701px) and (max-width: 800px) {

    .table-options {

        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            '. . select . .'
            '. paginator paginator paginator .';
    }
}

@media screen and (min-width: 801px) {

    .table-options {

        grid-template-columns: 1fr 2fr 10fr;
        grid-template-areas:
            '. select paginator';
    }
}

@media screen and (min-width: 1025px) {

    .table {

        width: 70%;
        margin: 0 auto;
    }
}

/* Hover.css effects by Ian Lunn @https://github.com/IanLunn/Hover */

/* player name enter arrow effect */
.enter-arrow { display: none; }

@media screen and (min-width: 601px) {

    @-webkit-keyframes enter-arrow-effect-mat-row {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }
        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }
        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }
        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes enter-arrow-effect-mat-row {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }
        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }
        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }
        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @-webkit-keyframes enter-arrow-effect-player-link {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }
        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }
        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }
        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes enter-arrow-effect-player-link {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }
        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }
        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }
        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .player-link {

        line-height: 2em;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .enter-arrow {

        color: gold;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .mat-row:hover .enter-arrow, .mat-row:focus .enter-arrow, .mat-row:active .enter-arrow {

        display: inline-block;
        -webkit-animation-name: enter-arrow-effect-mat-row;
        animation-name: enter-arrow-effect-mat-row;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    .player-link:hover .enter-arrow, .player-link:focus .enter-arrow, .player-link:active .enter-arrow {

        display: inline-block;
        -webkit-animation-name: enter-arrow-effect-player-link;
        animation-name: enter-arrow-effect-player-link;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}
