<div class="top-panel">
    <h1>World Rankings<br/><span class="year">Year {{ activeYear }}</span></h1>
</div>

<div class="table">
    <div class="table-options">
        <mat-form-field class="select">
            <mat-select
                [value]="activeYear"
                panelClass="select-options" id="select-options"
                disableOptionCentering [disabled]="!canSelect"
                (selectionChange)="onYearChange($event.value)">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                </mat-option>
            </mat-select>
        </mat-form-field><br/>

        <mat-paginator class="paginator" showFirstLastButtons></mat-paginator>
    </div>

    <table mat-table [dataSource]="rankings" matSort class="mat-elevation-z8 table-large">
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-label">Rank</th>
            <td mat-cell *matCellDef="let ranking">{{ ranking.rank }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-label">Player</th>
            <td mat-cell *matCellDef="let ranking">
                <a [routerLink]="['../../players', ranking.player.id]"
                    class="player-link">
                    {{ ranking.name }}<mat-icon class="enter-arrow">arrow_left</mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-label">Nationality</th>
            <td mat-cell *matCellDef="let ranking">{{ ranking.nationality }}</td>
        </ng-container>

        <ng-container matColumnDef="earnings">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-label">Winnings</th>
            <td mat-cell *matCellDef="let ranking">{{ ranking.earnings }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headings"></tr>
        <tr mat-row *matRowDef="let row; columns: headings;"></tr>
    </table>

    <table mat-table [dataSource]="rankings" class="mat-elevation-z8 table-small">
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef class="table-label">Rank</th>
            <td mat-cell *matCellDef="let ranking">{{ ranking.rank }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="table-label">Player</th>
            <td mat-cell *matCellDef="let ranking">
                <a [routerLink]="['../../players', ranking.player.id]">{{ ranking.name }}</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="shortHeadings"></tr>
        <tr mat-row *matRowDef="let row; columns: shortHeadings;"></tr>
    </table>
</div>
