mat-card {

    max-width: 100%;
    height: inherit;
    background: inherit;
}

mat-card-header {

    justify-content: center;
}

mat-card-content {

    text-align: center;
}

.mat-button:hover {

    color: lightblue;
    background-color: rgba(38, 86, 219, 0.938);
}

img {

    width: 90%;
    height: 90%;
}

.image-wrapper {

    height: 60%;
    overflow: hidden;
    background-position: center;
    text-align: center;
}

@media screen and (min-width: 321px) {

    .mat-button {

        font-size: 1.5em;
    }
}
