<h2>{{ player?.firstName }} {{ player?.lastName }}</h2>
<p class="firstName">First Name: {{ player?.firstName }}</p>
<p *ngIf="player?.middleName" class="middleName">Middle Name: {{ player?.middleName }}</p>
<p class="lastName">Last Name: {{ player?.lastName }}</p>
<p class="gender">Gender: {{ player?.sex }}</p>
<p class="birth">Date of Birth: {{ player?.dateOfBirth }}</p>
<p class="country">Country of Origin: {{ player?.nationality }}</p>
<p *ngIf="player?.bioPage" class="bio">Bio Page: <a [href]="player?.bioPage | urlFormatter">{{ player?.bioPage }}</a></p>
<p *ngIf="player?.website" class="website">Website: <a [href]="player?.website | urlFormatter">{{ player?.website }}</a></p>
<p *ngIf="player?.twitter" class="twitter">Twitter: @{{ player?.twitter }}</p>
