<div *ngIf="!isLoaded" class="spinner-wrapper">
    <mat-spinner color="warn" [diameter]="60"></mat-spinner>
</div>

<h2 *ngIf="player?.fullName">{{ player?.fullName }}</h2>

<div *ngIf="player?.photo" class="image-wrapper"
    [ngStyle]="{ 'background-image': 'url(' + player?.photo + ')' }">
</div>

<mat-expansion-panel *ngIf="isLoaded" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Details</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
        <mat-list-item>
            <div class="header-icon name-icon"></div>
            <span class="header name-header">
                <span class="long-text">First Name:</span>
                <span class="short-text">First:</span>
            </span>&nbsp;
            <span class="name-content firstName">{{ player?.firstName }}</span>
        </mat-list-item>

        <mat-list-item *ngIf="player?.middleName">
            <div class="header-icon name-icon"></div>
            <span class="header name-header">
                <span class="long-text">Middle Name:</span>
                <span class="short-text">Middle:</span>
            </span>&nbsp;
            <span class="name-content middleName">{{ player?.middleName }}</span>
        </mat-list-item>

        <mat-list-item>
            <div class="header-icon name-icon"></div>
            <span class="header name-header">
                <span class="long-text">Last Name:</span>
                <span class="short-text">Last:</span>
            </span>&nbsp;
            <span class="name-content lastName">{{ player?.lastName }}</span>
        </mat-list-item>

        <mat-list-item>
            <div class="header-icon gender-icon"></div>
            <span class="header gender-header">
                <span class="long-text">Gender:</span>
                <span class="short-text">Sex:</span>
            </span>&nbsp;
            <span [class.gender-male]="player?.sex === 'M'" class="gender-content gender">{{ player?.sex === 'M' ? 'Male' : 'Female' }}</span>
        </mat-list-item>

        <mat-list-item>
            <div class="header-icon year-icon"></div>
            <span class="header year-header">
                <span class="long-text">Date of Birth:</span>
                <span class="short-text">D.O.B:</span>
            </span>&nbsp;
            <span class="year-content birth">{{ player?.dateOfBirth }}</span>
        </mat-list-item>

        <mat-list-item>
            <div class="header-icon country-icon"></div>
            <span class="header country-header">
                <span class="long-text">Country of Origin:</span>
                <span class="short-text">Nationality:</span>
            </span>&nbsp;
            <div *ngIf="flag" class="country-flag"
                [ngStyle]="{ 'background-image': 'url(' + flag + ')' }">
            </div>
            <span class="country-content country">{{ player?.nationality }}</span>
        </mat-list-item>

        <mat-list-item *ngIf="player?.bioPage">
            <div class="header-icon url-icon"></div>
            <span class="header url-header">
                <span class="long-text">Bio Page:</span>
                <span class="short-text">Bio:</span>
            </span>&nbsp;
            <span class="url-content bio">
                <a [href]="player?.bioPage | urlFormatter">{{ player?.bioPage | urlTruncate }}</a>
            </span>
        </mat-list-item>

        <mat-list-item *ngIf="player?.website">
            <div class="header-icon url-icon"></div>
            <span class="header url-header">Website:</span>&nbsp;
            <span class="url-content website">
                <a [href]="player?.website | urlFormatter">{{ player?.website | urlTruncate }}</a>
            </span>
        </mat-list-item>

        <mat-list-item *ngIf="player?.twitter">
            <div class="header-icon twitter-icon"></div>
            <span class="header twitter-header">Twitter: @</span>
            <span class="twitter-content twitter">{{ player?.twitter }}</span>
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>
