<div class="blurred-mask"></div>

<main>
    <nav class="top-nav">
        <mat-toolbar color="primary" class="mat-typography">
            <span class="long-title">Snooker Data Query</span>
            <span class="short-title">Snooker Query</span>
            <span class="stretch"></span>
            <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-button">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-mini-fab [matMenuTriggerFor]="mainMenu" class="menu-fab">
                <mat-icon class="mini-menu-button-icon">menu</mat-icon>
            </button>
            <div class="expanded-buttons">
                <a mat-button>Contact</a>
                <a mat-button>About</a>
                <a mat-button class="search-button" routerLink="../site/players">
                    <mat-icon class="search-icon">search</mat-icon>
                </a>
            </div>
        </mat-toolbar>

        <mat-menu #mainMenu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <button mat-menu-item>Contact</button>
                <button mat-menu-item>About</button>
            </ng-template>
        </mat-menu>
    </nav>
    <section class="introduction">
        <h2>A <span class="highlight">light weight</span>, easy to use snooker data collection.</h2>
        <p class="citation">
            <span class="highlight">- data retrieved from:</span><a href="http://api.snooker.org"> api.snooker.org</a>
        </p>
    </section>
    <section class="main-content">
        <article class="players">
            <div class="flip-card-container">
                <div class="card-front">
                    <app-option-card
                        title="Players"
                        link="../site/players"
                        image="{{ configuration.images.home.players }}">

                        <p>View Player Details & Statistics</p>
                    </app-option-card>
                </div>
                <div class="card-back">
                    <p>WPBSA Recognized Professional Players</p>
                    <p>Player Details, Statistics & Earnings</p>
                    <button mat-button routerLink="../site/players" class="go-button">
                        <mat-icon>arrow_forward</mat-icon>Go
                    </button>
                </div>
            </div>
        </article>
        <article class="rankings">
            <div class="flip-card-container">
                <div class="card-front">
                    <app-option-card
                        title="Rankings"
                        link="../site/rankings"
                        image="{{ configuration.images.home.rankings }}">

                        <p>Check World Rankings Since 2013</p>
                    </app-option-card>
                </div>
                <div class="card-back">
                    <p>World Rankings Since 2013</p>
                    <p>Based on Money Ranking</p>
                    <button mat-button routerLink="../site/rankings" class="go-button">
                        <mat-icon>arrow_forward</mat-icon>Go
                    </button>
                </div>
            </div>
        </article>
        <article class="events">
            <div class="flip-card-container">
                <div class="card-front">
                    <app-option-card
                        title="Tournaments & Events"
                        image="{{ configuration.images.home.events }}">

                        <p>Currently Under Construction</p>
                    </app-option-card>
                </div>
                <div class="card-back">
                    <p>Currently Under Construction</p>
                    <p>Please Check Back Later.</p>
                    <button mat-button class="go-button">
                        <mat-icon>arrow_forward</mat-icon>Go
                    </button>
                </div>
            </div>
        </article>
    </section>
    <footer class="footer">
        <span class="author-short">By Yi, Zhang @2018</span>
        <span class="author-long">Web Design by Yi, Zhang @2018</span>
    </footer>
</main>
