/* frost glass effect overlay */
.blurred-mask {

    width: 100%;
    height: 100vh;
    position: fixed;
    background: inherit;
    transform: scale(1.1);
    filter: blur(10px) brightness(65%);
}

/* button effects */
a {

    color: white;
}

a:hover {

    color: orange;
}

.mat-button:hover {

    background-color: rgba(255, 115, 115, 0.658);
}

.mat-mini-fab {

    background-color: rgb(39, 162, 233);
}

.search-button {

    background-color: red;
}

.mini-menu-button-icon, .search-icon {

    color: white;
}

/* text effects */
.highlight {

    color: rgb(39, 150, 190);
}

.author-short, .author-long {

    position: absolute;
    right: 1%;
    bottom: 10%;
    color: rgba(238, 235, 235, 0.904);
    font-weight: bold;
    font-style: italic;
}

/* material components */
app-option-card {

    width: 100%;
    height: 100%;
    background-image: url(https://freedesignfile.com/upload/2016/07/Black-background-with-hexagon-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

mat-toolbar {

    width: 100%;
    height: 100%;
    background-color: rgba(66, 70, 82, 0.9);
    -webkit-box-shadow: 0 0 10px 2px rgba(30, 30, 30, 0.95);
    -moz-box-shadow: 0 0 10px 2px rgba(30, 30, 30, 0.95);
    box-shadow: 0 0 10px 2px rgba(30, 30, 30, 0.95);
}

/* grids */
.top-nav {

    grid-area: top-nav;
}

.introduction {

    top: 0;
    bottom: -60px;
    height: calc(100% + 60px);
    position: relative;
    grid-area: introduction;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgb(88, 93, 109);
}

.introduction h2 {

    margin-top: 20%;
    font-size: 1.2em;
}

.players {

    grid-area: players;
}

.rankings {

    grid-area: rankings;
}

.events {

    grid-area: events;
}

.main-content {

    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    grid-area: main-content;
    border-top: 2px solid lightgrey;
    background-color: rgba(60, 64, 75, 0.75);
    -webkit-box-shadow: 0 -5px 30px 5px rgba(30, 30, 30, 0.55);
    -moz-box-shadow: 0 -5px 30px 5px rgba(30, 30, 30, 0.55);
    box-shadow: 0 -5px 30px 5px rgba(30, 30, 30, 0.55);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'players'
        'rankings'
        'events';
}

.footer {

    z-index: 1;
    position: relative;
    font-size: 0.8em;
    grid-area: footer;
    background-color: rgba(60, 64, 75, 0.95);
    border-radius: 2px;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(39, 39, 39, 0.95);
    -moz-box-shadow: 0px -2px 3px 0px rgba(39, 39, 39, 0.95);
    box-shadow: 0px -2px 3px 0px rgba(39, 39, 39, 0.95);
}

main {

    width: 100%;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-rows: 10vh 25vh auto 8vh;
    grid-template-areas:
        'top-nav top-nav top-nav'
        'introduction introduction introduction'
        '. main-content .'
        'footer footer footer';
}

.short-title, .menu-fab, .expanded-buttons, .menu-button, .author-short, .citation, .card-back {

    display: none;
}

/* media queries */
@media screen and (max-width: 320px) {

    .long-title, .author-long { display: none; }
    .short-title, .menu-fab, .author-short { display: inline; }
    .introduction h2, .highlight { color: orange; }
}

@media screen and (min-width: 321px) and (max-width: 1024px) {

    .menu-button { display: inline; }

    .introduction h2 {

        margin-top: 10%;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1025px) {

    main {

        grid-template-columns: 1fr 18fr 1fr;
        grid-template-rows: 10vh 40vh 40vh 10vh;
        grid-template-areas:
            'top-nav top-nav top-nav'
            '. introduction .'
            'main-content main-content main-content'
            'footer footer footer';
    }

    app-option-card {

        top: -65px;
        height: calc(100% + 65px);
        position: relative;
        -webkit-box-shadow: 0px 2px 8px 2px rgba(180, 180, 180, 0.75);
        -moz-box-shadow: 0px 2px 8px 2px rgba(180, 180, 180, 0.75);
        box-shadow: 0px 2px 8px 2px rgba(180, 180, 180, 0.75);
    }

    .expanded-buttons, .citation { display: inline; }
    .mat-typography { font-size: 1.7em; }

    .introduction { background-color: transparent; }

    .introduction h2 {

        margin-top: 6%;
        font-size: 2.5em;
    }

    .main-content {

        grid-gap: 2em;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas:
            '. players rankings events .';
    }

    /* flip card effects */
    .flip-card-container, .card-front, .card-back {

        width: 100%;
        height: 100%;
    }

    .players, .rankings, .events {

        perspective: 1000px;
    }

    .players:hover .flip-card-container, .rankings:hover .flip-card-container, .events:hover .flip-card-container {

        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .flip-card-container {

        width: 100%;
        height: 100%;
        position: relative;
        -o-transition: 0.4s;
        -ms-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        transform-style: preserve-3d;
    }

    .card-front {

        height: 100%;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    .card-front, .card-back {

        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        left: 0;
    }

    .card-back {

        padding-top: 25%;
        color: white;
        text-align: center;
        display: block;
        top: -65px;
        height: calc(100% + 65px);
        background-color: rgb(37, 37, 37);
        background-image: url(http://www.hdfondos.eu/pictures/2015/1022/2/blue-bright-honeycomb-pattern-background-318291.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transform: rotateY(170deg);
        -ms-transform: rotateY(170deg);
        -moz-transform: rotateY(170deg);
        transform: rotateY(170deg);
        -webkit-box-shadow: 2px 2px 5px 1px rgba(180, 180, 180, 0.75);
        -moz-box-shadow: 2px 2px 5px 1px rgba(180, 180, 180, 0.75);
        box-shadow: 2px 2px 5px 1px rgba(180, 180, 180, 0.75);
    }

    .go-button {

        border-radius: 20px;
        background-color: tomato;
        margin-top: 5%;
        font-size: 1.2em;
    }
}
