<h1 mat-dialog-title>About</h1>
<div mat-dialog-content class="content">
    <p>Hello! I'm Yi Zhang, an aspiring software developer loving to learn
       different ways to solve business problems and create interesting, yet
       practical applications with different technologies.
    </p><br/>

    <p>The site is a fully functional web application incorporating genuine
       snooker data fetched through third-party APIs. While this is primarily
       intended for showcasing/demonstrating my software development skills
       and techniques, you can still rely on it as a simple snooker data query.
    </p><br/>

    <p>The site is planned for improvements over time and will be equipped with
       a complete, dedicated back-end for data storage and processing to suit
       the site's specific needs, as well as a REST API for public data queries.
    </p><br/>

    <p>Please feel free to view full source code on <a href="https://github.com/YiZhang-Paul/Snooker_Data_Lookup">Github.com</a></p>
</div>
