<h1 mat-dialog-title>Contact</h1>

<div class="contact-short">
    <p class="field">Email</p><br/>
    <p class="value">yi.zhang9206@gmail.com</p><br/>
    <p class="field">Github</p><br/>
    <p class="value"><a href="https://github.com/YiZhang-Paul">github.com/YiZhang-Paul</a></p><br/>
</div>

<mat-list class="contact-long">
    <mat-list-item><mat-icon class="email-icon">email</mat-icon>yi.zhang9206@gmail.com</mat-list-item>
    <mat-list-item><div class="github-link"><a href="https://github.com/YiZhang-Paul">Yi.Zhang@Github.com</a></div></mat-list-item>
</mat-list>
