h2 {

    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 0.95em;
    text-align: center;
    color: white;
    border-radius: 2px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: tomato;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
}

.main-content { margin: 0 auto; }

/* year option style */
.option {

    padding-top: 1%;
    text-align: center;
    font-size: 0.85em;
    background-color: rgba(39, 39, 39, 0.9);
}

/* material component style */
.spinner-wrapper {

    width: 0;
    height: 0;
    display: relative;
}

.mat-spinner {

    /* spinner diameter is 60px */
    top: calc(40vh - 30px);
    left: calc(40vw - 30px);
    display: fixed;
}

mat-option {

    color: gold !important;
}

/* error message */
.message {

    color: red;
    margin-top: 15%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.message-invisible {

    display: none;
}

/* media queries */
@media screen and (min-width: 451px) {

    h2, .main-content {

        width: 95%;
    }
}

@media screen and (min-width: 541px) {

    h2 {

        font-size: 1.5em;
    }
}

@media screen and (min-width: 721px) {

    h2, .main-content {

        width: 90%;
    }

    h2 {

        font-size: 2.1em;
    }
}

@media screen and (min-width: 1025px) {

    h2, .main-content {

        width: 85%;
    }

    h2 {

        font-size: 2.7em;
        margin-bottom: 4%;
    }

    .option {

        font-size: 1em;
    }
}

@media screen and (min-width: 1101px) {

    h2, .main-content {

        width: 80%;
    }
}

@media screen and (min-width: 1201px) {

    h2, .main-content {

        width: 75%;
    }
}

@media screen and (min-width: 1401px) {

    h2, .main-content {

        width: 70%;
    }
}
