<div *ngIf="!isLoaded" class="spinner-wrapper">
    <mat-spinner color="warn" [diameter]="60"></mat-spinner>
</div>

<div class="options">
    <mat-form-field class="year">
        <mat-select [value]="selectedYear"
            placeholder="Season" panelClass="select-options"
            (selectionChange)="onYearSelected($event.value)"
            disableOptionCentering class="select">
            <mat-option>All</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="nationality">
        <mat-select [value]="selectedNationality"
            placeholder="Nationality" panelClass="select-options"
            (selectionChange)="onNationalitySelected($event.value)"
            disableOptionCentering class="select">
            <mat-option>All</mat-option>
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
                {{ nationality }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="search" id="search">
        <input matInput placeholder="Search Player">
    </mat-form-field>
</div>

<main>
    <ng-container *ngIf="categorizedPlayers.length > 0">
        <div *ngFor="let category of categorizedPlayers" class="tables">
            <table mat-table [dataSource]="category" class="mat-elevation-z8">
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef class="category-label">
                        {{ category[0].firstName[0] | uppercase }}
                    </th>
                    <td mat-cell *matCellDef="let player">
                        <a [routerLink]="'../' + player.id" class="player-link">
                            {{ player.fullName }}<mat-icon class="enter-arrow">arrow_left</mat-icon></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['fullName']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['fullName'];"></tr>
            </table>
        </div>
    </ng-container>

    <ng-container *ngIf="categorizedPlayers.length > 0">
        <div *ngFor="let category of categorizedPlayers" class="player-block-wrapper">
            <h3>{{ category[0].firstName[0] | uppercase }}</h3>
            <div *ngFor="let player of category" class="player-block hvr-grow-shadow ">
                <button mat-button [routerLink]="'../' + player.id">{{ player.fullName }}</button>
                <div *ngIf="!player.photo; else playerPhoto" class="dummy-image image-wrapper"></div>

                <ng-template #playerPhoto>
                    <div [ngStyle]="{ 'background-image': 'url(' + player.photo + ')' }" class="image-wrapper"></div>
                </ng-template>
            </div>
        </div>
    </ng-container>
</main>
